includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    level: 5
    # TODO
    #level: max
    inferPrivatePropertyTypeFromConstructor: true
    paths:
        - functions.php
        - index.php
        - includes/
