html,
body {
    margin: 0;
    padding: 0;
}

body {
    background: var(--wp--preset--color--background);
    overflow-x: hidden;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}