.wp-block-post-comments-form {
    display: block;
    clear: both;
    margin-top: 2em;
}

.comment-form-comment {
    display: flex;
    flex-direction: column;
}

.comment-form-comment textarea {
    font-size: 1em;
    padding: 1em;
}